* {
  background: #F4EEEE;
  foreground: #0B1111;
  text: #0B1111;
  text-invert: #F4EEEE;
  color0: #F4EEEE;
  color1: #B91535;
  color3: #671224;
  color5: #B91535;
  color8: #A97B84;
  color13: #0B1111;
  color15: #0B1111;
  background-window: #F4EEEEEE;
  background-input: #0B111120;
}
